#
# Editorconfig for Drupal PHP coding standard
#
# For details see:
# https://github.com/drupal/drupal/blob/8.3.x/.editorconfig
# https://www.drupal.org/coding-standards
#


[*]
end_of_line = LF
indent_style = space
indent_size = 2
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
# Optional rule taken from https://www.drupal.org/coding-standards
# max_line_length = 80

[composer.json]
indent_size = 4
